spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5433/dev_db}
    username: ${SPRING_DATASOURCE_USERNAME:dev_xh}
    password: ${SPRING_DATASOURCE_PASSWORD:dev_xh}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  redis:
    host: ${SPRING_REDIS_HOST:localhost}
    port: 6379

deepseek:
  api-key: ${DEEPSEEK_API_KEY:}